<div class="index__billboard">
  <h1>YOUKA</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  <form class="things__form form-horizontal well" role="form">
  {{#if errors}}
    <div class="alert alert-warning">
      <ul>
        {{#each errors}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  <div class="form-group">
    <label class="col-sm-1 control-label" for="email">email</label>
    <div class="col-sm-11">
      <input class="form-control" name="email" type="text" placeholder="" value="test@test.com">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-1 control-label" for="password">password</label>
    <div class="col-sm-11">
      <input class="form-control" name="password" type="text" placeholder="" value="test">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
   </div>
</form>
</div>
