<div class="content-header">
  <div class="content-header-title">
    {{name}} - {{age}}
  </div>
  <div class="content-header-pic">
    
  </div>
</div>
<div class="content-body feed">
  <div class="content-body-bar">
    <div class="bar-title">
      Aujourd'hui
    </div>
    <div class="bar-aside">
      22 Avril 2015
    </div>
  </div>
</div>
