<div class="content-header">
	<div class="content-header-title">
		Fil d'actualité
	</div>
	<div class="content-header-pic">
		<div class="circles-container">
			<div class="content-col-left">
				<div class="content-col-inner">
					<i class="icon icon-soleiil"></i>
					<div class="icon-label">45%</div>
				</div>
			</div>
			<div class="circle circle-2"></div>
			<div class="circle circle-3"></div>
			<div class="circle-inner-icon">
				<i class="icon icon-feuille"></i>
			</div>			
			<div class="circle circle-1"></div>
			<div class="content-col-right">
				<div class="content-col-inner">
					<i class="icon icon-eau"></i>
					<div class="icon-label">67%</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content-body feed">
	<div class="content-body-bar">
		<div class="bar-title">
			Aujourd'hui
		</div>
		<div class="bar-aside">
			22 Avril 2015
		</div>
	</div>
	<div class="feed-item">
		<div class="feed-item-header">
			<div class="feed-item-title">Valentin Ledrapier</div>
			<div class="feed-item-aside">15:25</div>
		</div>
		<div class="feed-item-content">vient de faire connaissance avec Julia Wunsch. Félicitations !</div>
	</div>
	<div class="feed-item">
		<div class="feed-item-header">
			<div class="feed-item-title">Valentin Ledrapier</div>
			<div class="feed-item-aside">15:25</div>
		</div>
		<div class="feed-item-content">vient de faire connaissance avec Julia Wunsch. Félicitations !</div>
	</div>
	<div class="feed-item">
		<div class="feed-item-header">
			<div class="feed-item-title">Valentin Ledrapier</div>
			<div class="feed-item-aside">15:25</div>
		</div>
		<div class="feed-item-content">vient de faire connaissance avec Julia Wunsch. Félicitations !</div>
	</div>
	<div class="feed-item">
		<div class="feed-item-header">
			<div class="feed-item-title">Valentin Ledrapier</div>
			<div class="feed-item-aside">15:25</div>
		</div>
		<div class="feed-item-content">vient de faire connaissance avec Julia Wunsch. Félicitations !</div>
	</div>
	<div class="content-body-bar">
		<div class="bar-title">
			Hier
		</div>
		<div class="bar-aside">
			21 Avril 2015
		</div>
	</div>
	<div class="feed-item">
		<div class="feed-item-header">
			<div class="feed-item-title">Valentin Ledrapier</div>
			<div class="feed-item-aside">15:25</div>
		</div>
		<div class="feed-item-content">vient de faire connaissance avec Julia Wunsch. Félicitations !</div>
	</div>
	<div class="feed-item">
		<div class="feed-item-header">
			<div class="feed-item-title">Valentin Ledrapier</div>
			<div class="feed-item-aside">15:25</div>
		</div>
		<div class="feed-item-content">vient de faire connaissance avec Julia Wunsch. Félicitations !</div>
	</div>
	<div class="feed-item">
		<div class="feed-item-header">
			<div class="feed-item-title">Valentin Ledrapier</div>
			<div class="feed-item-aside">15:25</div>
		</div>
		<div class="feed-item-content">vient de faire connaissance avec Julia Wunsch. Félicitations !</div>
	</div>
</div>
