<div class="content-header">
	<div class="content-header-title">
		Fil d'actualité
	</div>
	<div class="content-header-pic">
		
	</div>
</div>
<div class="content-body feed">
	<div class="content-body-bar">
		<div class="bar-title">
			Aujourd'hui
		</div>
		<div class="bar-aside">
			22 Avril 2015
		</div>
	</div>
	<div class="feed-item">
		<div class="feed-item-header">
			<div class="feed-item-title">Valentin Ledrapier</div>
			<div class="feed-item-aside">15:25</div>
		</div>
		<div class="feed-item-content">vient de faire connaissance avec Julia Wunsch. Félicitations !</div>
	</div>
	<div class="feed-item">
		<div class="feed-item-header">
			<div class="feed-item-title">Valentin Ledrapier</div>
			<div class="feed-item-aside">15:25</div>
		</div>
		<div class="feed-item-content">vient de faire connaissance avec Julia Wunsch. Félicitations !</div>
	</div>
	<div class="feed-item">
		<div class="feed-item-header">
			<div class="feed-item-title">Valentin Ledrapier</div>
			<div class="feed-item-aside">15:25</div>
		</div>
		<div class="feed-item-content">vient de faire connaissance avec Julia Wunsch. Félicitations !</div>
	</div>
	<div class="feed-item">
		<div class="feed-item-header">
			<div class="feed-item-title">Valentin Ledrapier</div>
			<div class="feed-item-aside">15:25</div>
		</div>
		<div class="feed-item-content">vient de faire connaissance avec Julia Wunsch. Félicitations !</div>
	</div>
	<div class="feed-item">
		<div class="feed-item-header">
			<div class="feed-item-title">Valentin Ledrapier</div>
			<div class="feed-item-aside">15:25</div>
		</div>
		<div class="feed-item-content">vient de faire connaissance avec Julia Wunsch. Félicitations !</div>
	</div>
	<div class="feed-item">
		<div class="feed-item-header">
			<div class="feed-item-title">Valentin Ledrapier</div>
			<div class="feed-item-aside">15:25</div>
		</div>
		<div class="feed-item-content">vient de faire connaissance avec Julia Wunsch. Félicitations !</div>
	</div>
	<div class="feed-item">
		<div class="feed-item-header">
			<div class="feed-item-title">Valentin Ledrapier</div>
			<div class="feed-item-aside">15:25</div>
		</div>
		<div class="feed-item-content">vient de faire connaissance avec Julia Wunsch. Félicitations !</div>
	</div>
</div>
