<div class="content-header">
	<div class="content-header-title">
		Fil d'actualité
	</div>
	<div class="content-header-pic">
		<div class="circles-container">
			<div class="content-col-left">

			</div>
			<div class="circle circle-2"></div>
			<div class="circle circle-3"></div>
			<div class="circle-inner-icon">
				<i class="icon icon-feuille"></i>
			</div>			
			<div class="circle circle-1"></div>
			<div class="content-col-right">

			</div>
		</div>
	</div>
</div>
<div class="content-body feed">
	<div class="content-body-bar">
		<div class="bar-title">
			Aujourd'hui
		</div>
		<div class="bar-aside">
			25 Juin 2015
		</div>
	</div>
	<div class="feed-item">
		<div class="feed-item-header">
			<div class="feed-item-title">Mathieu</div>
			<div class="feed-item-aside">09:14</div>
		</div>
		<div class="feed-item-content">vient de faire connaissance avec Samuel. Félicitations !</div>
	</div>
	<div class="feed-item feed-item-inversed">
		<div class="feed-item-header">
			<div class="feed-item-title">Attention ! Pas assez de lumière !</div>
			<div class="feed-item-aside">09:02</div>
		</div>
		<div class="feed-item-content">Votre plante apprécierait de recevoir plus de lumière. Avec ce niveau d'ensoleillement, son métabolisme va ralentir: asseyez vous vite avec un de vos collègues !</div>
	</div>
	<div class="feed-item">
		<div class="feed-item-header">
			<div class="feed-item-title">Clara</div>
			<div class="feed-item-aside">08:51</div>
		</div>
		<div class="feed-item-content">vient de faire connaissance avec Océanne. Félicitations !</div>
	</div>
	<div class="content-body-bar">
		<div class="bar-title">
			Hier
		</div>
		<div class="bar-aside">
			24 Juin 2015
		</div>
	</div>
	<div class="feed-item">
		<div class="feed-item-header">
			<div class="feed-item-title">Chloé</div>
			<div class="feed-item-aside">17:45</div>
		</div>
		<div class="feed-item-content">vient de faire connaissance avec Victor. Félicitations !</div>
	</div>
	<div class="feed-item">
		<div class="feed-item-header">
			<div class="feed-item-title">Mathieu</div>
			<div class="feed-item-aside">15:25</div>
		</div>
		<div class="feed-item-content">vient de faire connaissance avec Emma. Félicitations !</div>
	</div>
	<div class="feed-item feed-item-inversed">
		<div class="feed-item-header">
			<div class="feed-item-title">Attention ! Pas assez d'arrosage !</div>
			<div class="feed-item-aside">14:48</div>
		</div>
		<div class="feed-item-content">Votre plante apprécierait de recevoir plus d'arrosage. Avec ce niveau d'arrosage, son métabolisme va ralentir: asseyez vous vite avec un de vos collègues !</div>
	</div>
	<div class="feed-item">
		<div class="feed-item-header">
			<div class="feed-item-title">Nathan</div>
			<div class="feed-item-aside">12:34</div>
		</div>
		<div class="feed-item-content">vient de faire connaissance avec Antoine. Félicitations !</div>
	</div>
	<div class="content-body-bar">
		<div class="bar-title">
			Il y a 2 jours
		</div>
		<div class="bar-aside">
			23 Juin 2015
		</div>
	</div>
	<div class="feed-item">
		<div class="feed-item-header">
			<div class="feed-item-title">Jérémy</div>
			<div class="feed-item-aside">16:12</div>
		</div>
		<div class="feed-item-content">vient de faire connaissance avec Victor. Félicitations !</div>
	</div>
	<div class="feed-item feed-item-inversed">
		<div class="feed-item-header">
			<div class="feed-item-title">Attention ! Pas assez d'arrosage !</div>
			<div class="feed-item-aside">15:24</div>
		</div>
		<div class="feed-item-content">Votre plante apprécierait de recevoir plus d'arrosage. Avec ce niveau d'arrosage, son métabolisme va ralentir: asseyez vous vite avec un de vos collègues !</div>
	</div>
	<div class="feed-item">
		<div class="feed-item-header">
			<div class="feed-item-title">Alex</div>
			<div class="feed-item-aside">13:25</div>
		</div>
		<div class="feed-item-content">vient de faire connaissance avec Emma. Félicitations !</div>
	</div>
	<div class="feed-item">
		<div class="feed-item-header">
			<div class="feed-item-title">Clara</div>
			<div class="feed-item-aside">12:34</div>
		</div>
		<div class="feed-item-content">vient de faire connaissance avec Emilie. Félicitations !</div>
	</div>
</div>
