<div class="socket-connect--header">
	Est-ce bien vous ?
</div>
<div class="socket-connect--main">
	<div class="secondary-message">
		<b>Pssst !</b>
		La plante vient de détecter une présence près des capteurs de pression.
	</div>
	<div class="main-message">
		Est-ce bien vous ?
	</div>
</div>
<div class="socket-connect--footer">
	<div class="cols">
		<div class="col-2">
			<a href="#" class="confirm-true">
				<i class="icon icon-valider"></i>
				oui
			</a>
		</div>
		<div class="col-2">
			<a href="#" class="confirm-false">
				<i class="icon icon-fermer"></i>
				non
			</a>
		</div>
	</div>
</div>
