<div class="content-header content-header-transparent">
	<div class="content-header-title">
		Tableau de bord
	</div>
	<div class="content-header-tabs">
		<div class="content-header-tab-item water-button">
			<i class="icon-eau"></i>
		</div>
		<div class="content-header-tab-item light-button">
			<i class="icon-soleiil"></i>
		</div>
		<div class="content-header-tab-item live-button">
			<i class="icon-livee"></i>
		</div>
		<div class="content-header-tab-item plant-button">
			<i class="icon-feuille"></i>
		</div>
	</div>
</div>
<div class="content-body no-bg">
	<div class="content-body-bar">
		<div class="bar-title">
			Humidité
		</div>
	</div>
	<div class="content-body-absolute">
		<div class="content-body-absolute-panel">
			Panel 1
		</div>
		<div class="content-body-absolute-panel">
			Panel 2
		</div>
		<div class="content-body-absolute-panel">
			Panel 3
		</div>
		<div class="content-body-absolute-panel">
			Panel 4
		</div>
	</div>
	
</div>
