<div class="content-header content-header-transparent">
	<div class="content-header-title">
		Tableau de bord
	</div>
	<div class="content-header-tabs">
		<div class="content-header-tab-item water-button">
			<i class="icon-eau"></i>
		</div>
		<div class="content-header-tab-item light-button">
			<i class="icon-soleiil"></i>
		</div>
		<div class="content-header-tab-item live-button">
			<i class="icon-livee"></i>
		</div>
		<div class="content-header-tab-item plant-button">
			<i class="icon-feuille"></i>
		</div>
	</div>
</div>
<div class="content-body no-bg">
	<div class="content-body-bar">
		<div class="bar-title">
			
		</div>
	</div>
	<div class="content-body-absolute">
		<div class="content-body-absolute-panel panel-water">
			<div class="subtabs-container">
				<div class="subtab"></div>
				<div class="subtab subtab-binded active">1j</div>
				<div class="subtab subtab-binded">1s</div>
				<div class="subtab subtab-binded">1m</div>
				<div class="subtab subtab-binded">3m</div>
				<div class="subtab subtab-binded">1a</div>
				<div class="subtab"></div>
			</div>
			<canvas id="chart1"></canvas>
		</div>
		<div class="content-body-absolute-panel panel-light">
			<div class="subtabs-container">
				<div class="subtab"></div>
				<div class="subtab subtab-binded active">1j</div>
				<div class="subtab subtab-binded">1s</div>
				<div class="subtab subtab-binded">1m</div>
				<div class="subtab subtab-binded">3m</div>
				<div class="subtab subtab-binded">1a</div>
				<div class="subtab"></div>
			</div>
			<canvas id="chart2"></canvas>
		</div>
		<div class="content-body-absolute-panel">
			<div class="subtabs-container subtabs-container-small panel-live">
				<div class="subtab subtab-binded active">Luminosité</div>
				<div class="subtab subtab-binded">Humidité</div>
			</div>
			<canvas id="chart-live"></canvas>
		</div>
		<div class="content-body-absolute-panel panel-plant">
			<div class="subtabs-container">
				<div class="subtab active">Description</div>
				<div class="subtab">Photos</div>
				<div class="subtab">Entretien</div>
			</div>
			<div class="arrow-panel">
				<div class="stitle">Nomenclature</div>
				<table>
					<tr>
						<th>Nom Scientifique</th>
						<td>Howea forsteriana</td>
					</tr>
					<tr>
						<th>Genre</th>
						<td>Howea</td>
					</tr>
					<tr>
						<th>Espèce</th>
						<td>Forsteriana</td>
					</tr>
					<tr>
						<th>Noms communs</th>
						<td>Kentia</td>
					</tr>
				</table>
				<div class="stitle">Description générale</div>
				<p>
					La Kentia (Howea forteriana) est une éspèce de la famille des Howeas
				</p>
			</div>
		</div>
	</div>
	
</div>
