<div class="waiting">
	<div class="socket-connect--header">
		En attente d'une autre personne...
	</div>
	<div class="socket-connect--main">

	</div>
	<div class="socket-connect--footer">

	</div>
</div>