<div class="socket-connect--header">
	En attente d'un collègue
</div>
<div class="socket-connect--main">
	<div class="circles-container hidden-anim">
		<div class="circle circle-1"></div>
		<div class="circle circle-2"></div>
		<div class="circle circle-3"></div>
		<div class="circle-inner-icon"><i class="icon icon-feuille animate-spin"></i></div>			
	</div>
	<div class="socket-subtext">
		Conviez dès à présent <b>un collègue</b><br/>pour participer à l'expérience !
	</div>
</div>
<div class="socket-connect--footer footer-white hidden-anim">
	<div class="socket-link">
		<div class="socket-link-user">
			<div class="profile-picture profile-picture-medium" style="background-image: url({{img}})"></div>
			<span>{{name}}</span>
		</div>
		<div class="socket-link-symbol">
			+
		</div>
		<div class="socket-link-user">
			<div class="profile-picture profile-picture-medium" style="background-image: url(/assets/images/placeholder.png)"></div>
			<span>?</span>
		</div>
	</div>
</div>
