@brand-primary: #76DFB4;
@brand-default: #76DFB4;
@brand-inversed: #6f4033;
@white: #fff;
@black: #111;
@gray: #bbb;
@navbar-height: 72px;



.btn-home {
  background-color: @white;
  color: @brand-primary;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 0;
  width: 148px;

  &.btn-home-inversed {
    border: 2px solid @white;
    color: @white;
    background: none;
  }
}

.separator {
  color: @white;

  &:after, &:before {
    content: ' — ';
    color: @brand-primary;
  }
}

/*
 *  BASE LAYOUT
 */

.content-header {
  height: 232px;
  background-color: @brand-primary;
  background-image: url(assets/images/bg_green.png);
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 2px;
  text-align: center;
  padding: 10% 0;

  .content-header-title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
  }

  .content-header-pic {
    padding: 12px 0;
  }
}

.content-body {
  background-image: url(assets/images/bg_palms.png);
  background-size: contain;
  background-position: 50% 50%;
  padding-bottom: @navbar-height;

  .content-body-title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    padding: 8% 0 4%;
    text-align: center;
  }
  
  .content-body-bar {
    background-color: @brand-inversed;
    color: @white;
    height: 64px;
    line-height: 64px;
    padding: 0 28px;
    white-space: nowrap;

    .bar-title {
      float: left;
      font-size: 16px;
      text-transform: uppercase;
      vertical-align: middle;
      font-weight: 600;
    }

    .bar-center {
      text-align: center;
      font-size: 15px;
    }

    .bar-aside {
      float: right;
      font-size: 15px;
      vertical-align: middle;
    }
  }
}

.profile-picture {
  display: inline-block;
  background-position: 50% 50%;
  background-size: cover;
  
  &.profile-picture-small {
    height: 48px;
    width: 48px;
  }

  &.profile-picture-big {
    height: 124px;
    width: 124px;
  }
}

.fullpage {
  width: 100%;
  height: 100%;
  position: relative;
}

.timeline {
  padding-top: 16px;
  position: relative;

  &:before {
    content: ' ';
    width: 1px;
    height: 100%;
    background-color: @black;
    position: absolute;
    left: 25px;
    top: 36px;
  }

  .timeline-item {
    position: relative;
    padding: 0 16px 0 48px;

    &:before {
      content: ' ';
      display: block;
      background-color: fade(@brand-primary, 50%);
      width: 20px;
      height: 20px;
      border-radius: 10px;
      position: absolute;
      left: 16px;
      top: 12px;
    }

    &:after {
      content: ' ';
      display: block;
      background-color: @black;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      position: absolute;
      left: 21px;
      top: 17px;
    }

    .timeline-item-title {
      display: inline-block;
      text-transform: uppercase;
      font-size: 17px;
      font-weight: 600;
      color: @black;
      border-bottom: 2px solid @brand-primary;
      margin: 8px 0;
    }
  }
}



 /*
 *  FORM
 */

@brand-underline-color: #76DFB4;
@brand-placeholder-color: #BDBDBD;
@floating-label-size-ratio: 70 / 100;

fieldset[disabled] .form-control, .form-control {
  &, &:focus, &.focus {
    padding: 0;
    float: none;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    &:disabled {
      border-style: dashed;
      border-bottom: 1px solid #757575;
    }
  }
}

fieldset[disabled] .form-control, .form-control {
  &:textarea {
    height: 40px;
  }
}

select[multiple].form-control {
  &, &:focus, &.focus {
    height: 85px;
  }
}

.form-control {
  border: 0;
  background-image: linear-gradient(@brand-primary, @brand-primary), linear-gradient(@brand-underline-color, @brand-underline-color);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(~"100% - 1px");
  background-color: transparent;
  background-color: rgba(0,0,0,0);
  transition: background 0s ease-out;
  color: #eee;
  &::-webkit-input-placeholder {
    color: @brand-placeholder-color;
    text-transform: uppercase;
  }
  &::-moz-placeholder {
    color: @brand-placeholder-color; 
    text-transform: uppercase;
  }
  &:-ms-input-placeholder {  
    color: @brand-placeholder-color;
    text-transform: uppercase;
  }
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: transparent;
  background-color: rgba(0,0,0,0);
}
fieldset[disabled] .form-control:disabled, 
.form-control-wrapper .form-control:disabled, 
.form-control:disabled, 
fieldset[disabled] .form-control:focus:disabled, 
.form-control-wrapper .form-control:focus:disabled, 
.form-control:focus:disabled, 
fieldset[disabled] .form-control.focus:disabled, 
.form-control-wrapper .form-control.focus:disabled, 
.form-control.focus:disabled {
  border: 0; // Ugly override of Bootstrap border
}

.form-control:focus, .form-control.focus {
  outline: none;
  background-image: linear-gradient(@brand-primary, @brand-primary), linear-gradient(@brand-underline-color, @brand-underline-color);
  background-size: 100% 2px, 100% 1px;
  box-shadow: none;
  transition-duration: 0.3s;
}


.form-control-wrapper {
  position: relative;

  .floating-label {
    color: @brand-placeholder-color;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 5px;
    transition: 0.3s ease all;
    opacity: 0;
    .form-control:focus ~ &,
    .form-control:not(.empty) ~ & {
      opacity: 1;
    }
  }

  // Input sizes
  .floating-label { // base
    font-size: @font-size-base;
  }
  .form-control:focus ~ .floating-label,
  .form-control:not(.empty) ~ .floating-label {
    top: @floating-label-size-ratio * -@font-size-base;
    font-size: @floating-label-size-ratio * @font-size-base;
  }

  .input-sm + .floating-label { // small
    font-size: @font-size-small;
    top: 7px;
  }
  .form-control.input-sm:focus ~ .floating-label,
  .form-control.input-sm:not(.empty) ~.floating-label {
    top: @floating-label-size-ratio * -@font-size-small;
    font-size: @floating-label-size-ratio * @font-size-small;
  }

  .input-lg + .floating-label {
    font-size: @font-size-large;
    top: 10px;
  }
  .form-control.input-lg:focus ~ .floating-label,
  .form-control.input-lg:not(.empty) ~ .floating-label {
    top: @floating-label-size-ratio * -@font-size-large;
    font-size: @floating-label-size-ratio * @font-size-large;
  }

  .form-control:focus ~ .floating-label {
    color: @brand-primary;
  }
  .form-control:not(.empty):invalid ~ .floating-label, .form-control.focus:invalid ~ .floating-label {
    color: @brand-danger;
  }
  .form-control:focus ~ .material-input:after, .form-control.focus ~ .material-input:after {
    background-color: @brand-default;
  }
  .form-control:invalid {
    background-image: linear-gradient(@brand-danger, @brand-danger), linear-gradient(@brand-underline-color, @brand-underline-color);
  }
  .form-control.empty ~ .floating-label  {
    opacity: 1;
  }
  textarea { resize: none; }
  textarea ~ .form-control-highlight {
    margin-top: -11px;
  }

  // Hints
  .hint {
    position: absolute;
    font-size: 80%;
    display: none;
  }
  .form-control:focus ~ .hint, .form-control.focus ~ .hint {
    display: block;
  }

  select ~ .material-input:after {
    display: none;
  }

  // Fix for OS X
  select {
    appearance: none;
  }

}

.form-group {
  &.has-warning {
    .form-control {
      box-shadow: none;
    }
    .material-input:focus, .form-control:focus, .form-control.focus {
      background-image: linear-gradient(@brand-warning, @brand-warning), linear-gradient(@brand-underline-color, @brand-underline-color);
      box-shadow: none;
    }
    .control-label, input.form-control:focus ~ .floating-label {
      color: @brand-warning;
    }
  }
  &.has-error {
    .form-control {
      box-shadow: none;
    }
    .material-input:focus, .form-control:focus, .form-control.focus {
      background-image: linear-gradient(@brand-danger, @brand-danger), linear-gradient(@brand-underline-color, @brand-underline-color);
      box-shadow: none;
    }
    .control-label, input.form-control:focus ~ .floating-label {
      color: @brand-danger;
    }
  }
  &.has-success {
    .form-control {
      box-shadow: none;
    }
    .material-input:focus, .form-control:focus, .form-control.focus {
      background-image: linear-gradient(@brand-success, @brand-success), linear-gradient(@brand-underline-color, @brand-underline-color);
      box-shadow: none;
    }
    .control-label, input.form-control:focus ~ .floating-label {
      color: @brand-success;
    }
  }
  &.has-info {
    .form-control {
      box-shadow: none;
    }
    .material-input:focus, .form-control:focus, .form-control.focus {
      background-image: linear-gradient(@brand-info, @brand-info), linear-gradient(@brand-underline-color, @brand-underline-color);
      box-shadow: none;
    }
    .control-label, input.form-control:focus ~ .floating-label {
      color: @brand-info;
    }
  }
}

.input-group {
  .form-control-wrapper {
    .form-control {
      float: none;
    }
    margin-right: 5px;
    margin-left: 5px;
  }
  .input-group-addon {
    border: 0;
    background: transparent;
  }
  .input-group-btn .btn {
    border-radius: 4px;
    margin: 0;
  }
}

select.form-control {
  border: 0;
  box-shadow: none;
  border-radius: 0;
  &:focus, &.focus {
    box-shadow: none;
    border-color: #757575;
  }
}

// Input files (kinda hack)
.form-control-wrapper input[type=file] {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}