<div class="socket-connect--header">
	Fin de la rencontre
</div>
<div class="socket-connect--main main-xl">
	<div class="user-container">
		<div class="users__item hide-met">
			<div class="profile-picture profile-picture-small" style="background-image: url({{img}})"></div>
			<div class="name">{{name}}</div>
			<div class="met">Rencontré</div>
		</div>
	</div>
	<div class="button-container">
	<a href="#/users/{{_id}}" class="big-green-button">
		Consulter son profil
	</a>
	</div>
	<div class="socket-stats">
		<div class="socket-stats-item">
			<div class="socket-stat">
				<i class="icon icon-eau"></i>
			</div>
			<div class="socket-stat-title">Humidité</div>
			<div class="socket-stat-subtitle">+14%</div>
		</div>
		<div class="socket-stats-item">
			<div class="socket-stat">
				<i class="icon icon-soleiil"></i>
			</div>
			<div class="socket-stat-title">Luminosité</div>
			<div class="socket-stat-subtitle">+17%</div>
		</div>
	</div>
	<p>
		Continuez l'expérience pour connaître d'avantage <b>vos partenaires de travail !</b>
	</p>
</div>
<div class="socket-connect--footer footer-green hidden-anim footer-xs">
	<i class="icon icon-fermer"></i>
</div>
